.DS_Store
.ipynb_checkpoints/

__pycache__/
**/__pycache__/
*$py.class

**/generated_data/
**/stored_data/
**/checkpoints/
**/training_history/
**/raw_czech/
**/generation_results/
**/.ipynb_checkpoints/
**/.DS_Store

**/results/
**/real_data/


generated_data/
stored_data/
checkpoints/
raw_czech/
training_history/
